<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find armbot_control)/config/armbot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/armbot" args="joint_state_controller shoulder_position_controller elbow_position_controller wist_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/armbot/joint_states" />
  </node>

</launch>
